
/*CSS Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerText {
    font-family: 'Montserrat', sans-serif;
    margin: 2vw 0 0 2vw;
    padding: 0;
}

.stateText {
    font-family: 'Montserrat', sans-serif;
    margin: 2vw 0 0 2vw;
    padding: 0;
    color: white;
    font-size: 2vw;
    margin: 0 0 0 2vw;
    padding: 0;
}

.stateHeader {
    font-family: 'Montserrat', sans-serif;
    margin: 2vw 0 0 2vw;
    padding: 0;
    color: #003459;
    font-size: 2vw;
    margin: 0 0 0 2vw;
    padding: 0;
}

#wrap {
    width: 800px;
    margin: 0 auto;
    background-color: #00a7e1;
}

.totalNumber {
    font-size: 13vw;
    color: #003459;
}

/* Navbar Styling */

#main-nav {
    margin-top: 15px;
}

#main-nav ul li a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    padding: 10px;
}

#main-nav ul li a:hover {
    background: #fff;
    color: #003459;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
  }



.totalText{
    color: white;
    font-size: 5vw;
    margin: 0 0 0 2vw;
    padding: 0;
}

.iconNumber {
    width: 3.5vw;
    height: 3.5vw;
}

/* Footer */
footer {
    margin-top: 100px;
    text-align: center;

}

#footerText {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1vw;
    margin: 2vw;
}


/*Rezising do texto para Deskop*/
@media only screen and (min-width: 992px) {

.totalText{
    font-size: 2vw;
}
.totalNumber {
    font-size: 5vw;
}

#footerText{
    font-size: 1vw;
}
}